In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/raw data/X1_kodex(1d).csv')

In [3]:
# 'date' 컬럼의 데이터 형식을 datetime으로 변환
df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')

# 'date' 컬럼을 인덱스로 설정
df.set_index('date', inplace=True)

df.head(3)

            open  high   low  close   volume
date
2002-10-14  5320  5456  5177   5286  3778837
2002-10-15  5354  5442  5252   5415  3355884
2002-10-16  5483  5483  5395   5436  2989883