In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/raw data/X1_kodex(1d).csv')

In [3]:
# 'date' 컬럼의 데이터 형식을 datetime으로 변환
df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')

# 'date' 컬럼을 인덱스로 설정
df.set_index('date', inplace=True)

df.head(3)

            open  high   low  close   volume
date
2002-10-14  5320  5456  5177   5286  3778837
2002-10-15  5354  5442  5252   5415  3355884
2002-10-16  5483  5483  5395   5436  2989883

In [30]:
df11 = pd.read_excel('../data/raw data/X12_10Y3Y.xlsx')
df11

          DATE  T10Y3M
0   2021-01-04    0.84
1   2021-01-05    0.87
2   2021-01-06    0.95
3   2021-01-07    0.99
4   2021-01-08    1.05
..         ...     ...
727 2023-10-18   -0.70
728 2023-10-19   -0.62
729 2023-10-20   -0.65
730 2023-10-23   -0.72
731 2023-10-24   -0.75

[732 rows x 2 columns]

In [31]:
df11['date'] = pd.to_datetime(df11['DATE'], format='%Y-%m-%d')

In [32]:
df = df11.dropna()

In [34]:
df

          DATE  T10Y3M       date
0   2021-01-04    0.84 2021-01-04
1   2021-01-05    0.87 2021-01-05
2   2021-01-06    0.95 2021-01-06
3   2021-01-07    0.99 2021-01-07
4   2021-01-08    1.05 2021-01-08
..         ...     ...        ...
727 2023-10-18   -0.70 2023-10-18
728 2023-10-19   -0.62 2023-10-19
729 2023-10-20   -0.65 2023-10-20
730 2023-10-23   -0.72 2023-10-23
731 2023-10-24   -0.75 2023-10-24

[732 rows x 3 columns]

In [35]:
df = df[['date','T10Y3M']]
df.to_csv('../data/X/X12_10Y3M.csv')

In [25]:
df['종가'] = df['종가'].astype('float')
df['시가'] = df['시가'].astype('float')
df['WTI_change'] = df['종가'] - df['시가']
df['거래량'] = df['거래량'].replace("K", "")
df['WTI_Volume'] = df['거래량']
df = df[['date','WTI_change','WTI_Volume']]
df.to_csv('../data/X/X11_WTI.csv')

C:\Users\hotte\AppData\Local\Temp\ipykernel_21668\467269561.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['종가'] = df['종가'].astype('float')
C:\Users\hotte\AppData\Local\Temp\ipykernel_21668\467269561.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['시가'] = df['시가'].astype('float')
C:\Users\hotte\AppData\Local\Temp\ipykernel_21668\467269561.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['WTI_change'] = df['종가'] - df['시가']
C:\Users\hotte\AppData\Local\Temp\ipykernel_21668\467269561.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['거래량'] = df['거래량'].replace("K", "")
C:\Users\hotte\AppData\Local\Temp\ipykernel_21668\467269561.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['WTI_Volume'] = df['거래량']