In [3]:
import pandas as pd

In [6]:
df = pd.read_csv('../data/kospi200/etf_5min.csv')

In [12]:
# date 컬럼을 문자열로 변환하여 9시부터 10시까지의 데이터만 필터링
filtered_etf_data = df[(df['date'].astype(str).str[-4:] >= '0900') & 
                            (df['date'].astype(str).str[-4:] <= '1000')]

filtered_etf_data

               date   open   high    low  close  volume
0      201809280905  27310  27310  27256  27270  255539
1      201809280910  27265  27270  27243  27252  106638
2      201809280915  27247  27256  27243  27243   96901
3      201809280920  27238  27252  27229  27234   81237
4      201809280925  27238  27261  27238  27261   63315
...             ...    ...    ...    ...    ...     ...
96110  202310240940  31805  31805  31745  31765  198111
96111  202310240945  31765  31765  31725  31760   58428
96112  202310240950  31755  31765  31705  31725   29266
96113  202310240955  31725  31750  31690  31745   32467
96114  202310241000  31745  31765  31700  31705   22116

[14880 rows x 6 columns]