In [27]:
import pandas as pd

In [28]:
df1 = pd.read_csv('../data/y/kodex(5min).csv')
df2 = pd.read_csv('../data/y/X1_kodex(1d).csv')

In [29]:
# 'date' 컬럼에서 '09xx'을 포함하는 데이터만 필터링한다.
kodex_0930_data = df1[df1['date'].astype(str).str.endswith('0955')]

kodex_0930_data.head()

             date   open   high    low  close  volume
10   201810010955  27022  27022  27004  27004   14771
87   201810020955  27148  27153  27130  27135   22026
164  201810040955  26563  26568  26545  26563   43856
241  201810050955  26347  26370  26334  26365   92146
318  201810080955  26302  26302  26275  26289   18094

In [30]:
# 'date' 컬럼의 데이터를 YYYYMMDD 형태로 변환
kodex_0930_data['date'] = kodex_0930_data['date'].astype(str).str[:8].astype(int)

# 'date'를 기준으로 kodex_0930_data와 x1_kodex_data를 내부 조인(inner join)한다.
merged_data = pd.merge(kodex_0930_data, df2, on='date', how='inner')

len(merged_data)

C:\Users\hotte\AppData\Local\Temp\ipykernel_7596\2027160035.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kodex_0930_data['date'] = kodex_0930_data['date'].astype(str).str[:8].astype(int)

1241

In [31]:
merged_data['y_rate'] = (merged_data['open_x'] - merged_data['open_y'])/merged_data['open_y']

In [32]:
merged_data[['date','y_rate']].to_csv('../data/y_rate/y_0900_0955.csv')