In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('../data/y/kodex(5min).csv')
df2 = pd.read_csv('../data/y/X1_kodex(1d).csv')

In [8]:
# 'date' 컬럼에서 '09xx'을 포함하는 데이터만 필터링한다.
kodex_0930_data = df1[df1['date'].astype(str).str.endswith('0930')]
kodex_0930_data['date'] = kodex_0930_data['date'].astype(str).str[:8].astype(int)

kodex_0930_data

C:\Users\hotte\AppData\Local\Temp\ipykernel_17100\1695464017.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kodex_0930_data['date'] = kodex_0930_data['date'].astype(str).str[:8].astype(int)

           date   open   high    low  close  volume
5      20181001  27135  27135  27036  27036   54490
82     20181002  27112  27130  27108  27112   41543
159    20181004  26613  26613  26581  26586   51190
236    20181005  26388  26415  26370  26392   59148
313    20181008  26280  26280  26262  26271   57731
...         ...    ...    ...    ...    ...     ...
95877  20231020  31980  31985  31945  31965   56338
95954  20231023  31845  31865  31800  31840   87897
96031  20231024  31810  31855  31805  31805   34116
96108  20231025  32095  32120  32035  32040  114394
96185  20231026  31355  31380  31330  31340   49509

[1241 rows x 6 columns]

In [30]:
# 'date' 컬럼의 데이터를 YYYYMMDD 형태로 변환
kodex_0930_data['date'] = kodex_0930_data['date'].astype(str).str[:8].astype(int)

# 'date'를 기준으로 kodex_0930_data와 x1_kodex_data를 내부 조인(inner join)한다.
merged_data = pd.merge(kodex_0930_data, df2, on='date', how='inner')

len(merged_data)

C:\Users\hotte\AppData\Local\Temp\ipykernel_7596\2027160035.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kodex_0930_data['date'] = kodex_0930_data['date'].astype(str).str[:8].astype(int)

1241

In [31]:
merged_data['y_rate'] = (merged_data['open_x'] - merged_data['open_y'])/merged_data['open_y']

In [32]:
merged_data[['date','y_rate']].to_csv('../data/y_rate/y_0900_0955.csv')