In [15]:
import pandas as pd

In [40]:
df1 = pd.read_csv('../data/y/kodex(5min).csv')
df2 = pd.read_csv('../data/y/X1_kodex(1d).csv')

In [41]:
# 'date' 컬럼에서 '09xx'을 포함하는 데이터만 필터링한다.
kodex_0930_data = df1[df1['date'].astype(str).str.endswith('0905')]

kodex_0930_data.head()

             date   open   high    low  close  volume
0    201810010905  27148  27229  27148  27202  259685
77   201810020905  27076  27117  27063  27099  162628
154  201810040905  26806  26806  26694  26703   87806
231  201810050905  26316  26365  26289  26289  232223
308  201810080905  26194  26253  26176  26217  138069

In [42]:
# 'date' 컬럼의 데이터를 YYYYMMDD 형태로 변환
kodex_0930_data['date'] = kodex_0930_data['date'].astype(str).str[:8].astype(int)

# 'date'를 기준으로 kodex_0930_data와 x1_kodex_data를 내부 조인(inner join)한다.
merged_data = pd.merge(kodex_0930_data, df2, on='date', how='inner')

len(merged_data)

C:\Users\hotte\AppData\Local\Temp\ipykernel_12220\3718638359.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kodex_0930_data['date'] = kodex_0930_data['date'].astype(str).str[:8].astype(int)

1241

In [43]:
merged_data['y_change'] = merged_data['open_x'] - merged_data['open_y']

In [44]:
merged_data[['date','y_change']].to_csv('../data/y/y_0900_0905.csv')