In [1]:
import pandas as pd

In [93]:
df1 = pd.read_csv('../data/y/kodex(5min).csv')
df2 = pd.read_csv('../data/y/X1_kodex(1d).csv')

In [94]:
# 'date' 컬럼에서 '09xx'을 포함하는 데이터만 필터링한다.
kodex_0930_data = df1[df1['date'].astype(str).str.endswith('1000')]

kodex_0930_data.head()

             date   open   high    low  close  volume
11   201810011000  27004  27022  27004  27013   31779
88   201810021000  27135  27139  27117  27121   11936
165  201810041000  26563  26568  26536  26541   70216
242  201810051000  26365  26388  26361  26365   28689
319  201810081000  26293  26298  26280  26280   21312

In [95]:
# 'date' 컬럼의 데이터를 YYYYMMDD 형태로 변환
kodex_0930_data['date'] = kodex_0930_data['date'].astype(str).str[:8].astype(int)

# 'date'를 기준으로 kodex_0930_data와 x1_kodex_data를 내부 조인(inner join)한다.
merged_data = pd.merge(kodex_0930_data, df2, on='date', how='inner')

len(merged_data)

C:\Users\hotte\AppData\Local\Temp\ipykernel_12220\2027160035.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kodex_0930_data['date'] = kodex_0930_data['date'].astype(str).str[:8].astype(int)

1241

In [96]:
merged_data['y_rate'] = (merged_data['open_x'] - merged_data['open_y'])/merged_data['open_y']

In [97]:
merged_data[['date','y_rate']].to_csv('../data/y_rate/y_0900_1000.csv')